@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 5% 10%;
}

h1 {
  color: #0290ff;
}

nav ul {
  display: inline-flex;
  gap: 2rem;
  list-style: none;
}

.navs {
  color: #121212;
  text-decoration: none;
}

#booklist {
  background-color: whitesmoke;
  padding: 5% 8%;
}

.bookDesc {
  background-color: white;
  margin-bottom: 10%;
  padding: 5%;
  border: solid 0.1rem #e8e8e8;
  border-radius: 0.2rem;
}

.cate {
  color: #888888;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.titl {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.auth {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #4386bf;
}

.bookBtns {
  padding: 5% 0;
}

.Btn {
  background-color: white;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #4386bf;
  cursor: pointer;
}

.bar {
  color: #e8e8e8;
  margin: 0 1rem;
}

.bookProgress {
  display: inline-flex;
  align-items: center;
}

.progImg {
  height: 5rem;
}

.perc {
  font-size: 1.8rem;
  font-weight: 400;
}

.completed {
  font-weight: 400;
  color: #888888;
}

.curChapter {
  font-family: 'Roboto Slab', serif;
  color: #888888;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.Chapter {
  font-family: 'Roboto Slab', serif;
  color: #121212;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.updateBtn {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  background-color: #0290ff;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 0.5rem 0;
}

#addBook {
  border-top: solid 0.2rem #e8e8e8;
  padding: 5% 0;
}

.newHead {
  color: #888888;
  margin-bottom: 0.5rem;
}

#title,
#author,
#category {
  border: solid 0.1rem #e8e8e8;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #c4c4c4;
  width: 100%;
  margin-bottom: 0.5rem;
}

#submitBtn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  background-color: #0290ff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.categories,
.loading,
.errorMsg {
  text-align: center;
  font-weight: bold;
}